@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1a1230;
}

body {
  color: var(--foreground);
  background: #faf9ff;
}

@media print {
  .no-print {
    display: none !important;
  }
  body {
    background: #fff;
  }
}
